body{
	background-color: #797D7F;
}
#Header{
	width: 100%;
	height:100px;
	background-color: #1B2631;;
	top: 0px;
}
#NavBar{
	width: 1300px;
	height: 45px;
}
a{
	text-decoration: none;
	color #FFF;
	font-variant: small-caps;
	font-family: AF TOMMY HILFIGER;
}

#NavBar img{
float: left;
padding-left: 90px;
}

ul li{
	float: right;
	list-style: none;
	width: 80px;
	height:30px;
	text-align: center;
	padding: 25px 35px;
	line-height: 40px;
}

li a{
	
	color: white;
	font-family: Courier New;
	font-size: 20px;
}
